<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UVM Forms</title>
  <link rel="shortcut icon" href="/resources/uvm.png">
  <link rel="stylesheet" href="/styles/contacto.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/styles.css">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <header>
    <div class="header">
      <a href="/" class="logo"><img src="resources/uvm.png" alt="Logo">
        <p>UVM Forms</p>
      </a>
      <!-- Los divs para crear la clase hamburguesa, como pseudoelementos -->
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="header-right">
        <a href="/" id="inicio" onclick="showLoader()">Inicio</a>
        <a href="/index" id="formularios" onclick="showLoader()">Mis formularios</a>
        <a href="/contacto" id="contactos" onclick="showLoader()">Contacto</a>

        <% if(user){ %>
          <div style="display: flex; align-items: center;">
            <i class='bx bx-user-circle' id="profileIcon"></i> <p id="profileName"> <%- user %></p>
          </div>
          <form action="/index/disconnect" method="POST" class="logout-form">
            <button class="logout-btn" type="submit">Logout</button>
          </form>
        <% } %>

      </div>
      </div>
    </div>
  </header>

  <script>
    var logoutBtn = document.querySelector(".logout-btn");
    logoutBtn.addEventListener("click", function() {  showLoader();  });
  </script>

  <script src="/scripts/header.js"></script>


    <main>
      <div id="contenedor_carga">
        <div id="carga"></div>
      </div>

      
      <div class="content">
        <form action="/contacto" method="POST" onsubmit="showLoader()">
          <div class="user-details">
            <h2 class="title">Contactanos</h2>
            <label for="">Nombre completo</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>
            <label for="">Email</label>
            <input type="email" id="email" name="email" placeholder="Ingrese su email" required>
            <label for="">Cédula / ID</label>
            <input type="number" id="cedula" name="cedula" placeholder="Ingrese su número cédula o ID" required>
            <label for="">Fecha de Nacimiento</label>
            <input type="date" id="fecha-nac" name="fecha_nac" required>
            <label for="">Genero</label>
            <div class="radio-buttons">
              <input type="radio" name="genero" id="dot-1" value="masculino">
              <label for="">Masculino</label>
              <input type="radio" name="genero" id="dot-2" value="femenino">
              <label for="">Femenino</label>
              <input type="radio" name="genero" id="dot-3" value="nodecir">
              <label for="">Prefiero no decir</label>
            </div>
            <label for="">Número telefónico</label>
            <input type="number" id="telefono" name="telefono" placeholder="Ingrese su número telefonico" required>
            <label for="">Asunto</label>
            <input type="text" id="asunto" name="asunto" required>
            <label for="">Describe tu mensaje</label>
            <textarea id="msj" cols="40" rows="10" name="descripcion"></textarea>
            <div class="cargar-imagen">
              <label for="">Nos interesa conocer como eres. Por favor carga una foto con la que te identifiques.</label>
              <input type="file" id="inputImagen"name="imagen">
            </div>
            <div id="mostrar-imagen">
              <!--Mostrar la imagen una vez cargada-->
            </div>
            <input type="submit" id="submit">
          </div>
        </form>
      </div>
    </main>




    <script src="/scripts/loader.js"></script>



  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <script>
    const cargarImagen = document.getElementById('inputImagen');
    const mostrarImagen = document.getElementById('mostrar-imagen')

    cargarImagen.addEventListener('change', e => {
      e.preventDefault();
      validarImg();
    });

    function limpiarImagen() {
      while (mostrarImagen.firstChild) {
        mostrarImagen.removeChild(mostrarImagen.firstChild);
      }
    }

    function validarImg() {
      const imagen = document.getElementById('inputImagen');
      const rutaImagen = imagen.value;
      const extensiones = /(.jpg|.PNG|.JPEG)$/i;

      if (!extensiones.exec(rutaImagen)) {
        imagen.value = '';
        return alert('El tipo de archivo seleccionado no es una imagen válida')
      }
      if (imagen.files && imagen.files[0]) {
        limpiarImagen();
        mostrar = new FileReader();
        mostrar.onload = (e) => {
          const img = document.createElement('embed');
          img.src = e.target.result;
          img.width = 300;
          mostrarImagen.appendChild(img);
        }
        mostrar.readAsDataURL(imagen.files[0])
      }
    }
  </script>


  <footer class="footer">
    <!-- Primer nivel: logo de la compañía -->
    <img src="resources/uvm.png" alt="Logo de la compañía" class="footer-logo">
    <!-- Segundo nivel: navegación -->
    <nav class="footer-nav">
      <!-- Primera columna: inicio, sobre nosotros, contacto -->
      <div class="footer-nav-column">
        <a onclick="showLoader()" href="/" class="footer-nav-link">Inicio</a>
        <a onclick="showLoader()" href="/usuarios/crear" class="footer-nav-link">Registro</a>
        <a onclick="showLoader()" href="/usuarios/login" class="footer-nav-link">Login</a>
      </div>
      <!-- Segunda columna: -->
      <div class="footer-nav-column">
        <a onclick="showLoader()" href="/index" class="footer-nav-link">Tus Formularios</a>
        <a onclick="showLoader()" href="https://uvm.edu.ve/normativa-uvm/" class="footer-nav-link">Normativa</a>
        <a onclick="showLoader()" href="https://uvm.edu.ve/investigacion-y-extension/" class="footer-nav-link">Investigación y Extensión</a>
      </div>
    <!-- Tercer nivel: redes sociales -->
    <div class="footer-social">
      <!-- Icono de Facebook -->
      <a href="https://www.facebook.com/univalledelmomboy/?locale=es_LA" class="footer-social-icon">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <!-- Icono de Twitter -->
      <a href="https://twitter.com/univallemomboy?lang=es" class="footer-social-icon">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <!-- Icono de Instagram -->
      <a href="https://www.instagram.com/univalledelmomboy/" class="footer-social-icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <!-- Icono de YouTube -->
      <a href="https://www.youtube.com/channel/UCyPGGFu2WNlBP1BMvholYWA" class="footer-social-icon">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
    <!-- Cuarto nivel: detalles legales -->
    <div class="footer-legal">
      <!-- Primera columna: derechos reservados -->
      <div class="footer-legal-column">
        <p class="footer-legal-text">&copy; 2023 Universidad "Valle del Momboy"</p>
      </div>
      <!-- Segunda columna: términos y condiciones -->
      <div class="footer-legal-column">
        <p class="footer-legal-text"><a href="https://revistav.uvm.edu.ve/articulos/cs07s7Articulo1vol13num12019.pdf">Términos y condiciones</a></p>
      </div>
      <!-- Tercera columna: política de privacidad -->
      <div class="footer-legal-column">
        <p class="footer-legal-text"><a href="https://repositorio.uvm.edu.ve/items/b8397abb-5c25-4557-994b-a1a6fbd3d4ce">Reglamento</a></p>
      </div>
    </div>
  </footer>

</body>

<script src="/src/public/script/header.js"></script>


</html>