<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVM Forms</title>
    <link rel="shortcut icon" href="resources/uvm.png">
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/styles.css">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header>
    <div class="header">
      <a href="/" class="logo"><img src="resources/uvm.png" alt="Logo">
        <p>UVM Forms</p>
      </a>
      <!-- Los divs para crear la clase hamburguesa, como pseudoelementos -->
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="header-right">

        <% if(user){ %>
        <div class="formBuscar" id="formBuscar">
          <a id="buscar" style="padding: 0;">
              <i class='bx bxs-search' id="searchIcon"></i>
          </a>
          <input type="text" placeholder="Buscar" id="textoBuscar">
        </div>
        <% } %>

        <a href="/" onclick="showLoader()" id="inicio">Inicio</a>
        <a href="/index" onclick="showLoader()" id="formularios">Mis formularios</a>
        <a href="/contacto" onclick="showLoader()" id="contactos">Contacto</a>
        <% if(user){ %>
          <div style="display: flex; align-items: center;">
            <i class='bx bx-user-circle' id="profileIcon"></i> <p id="profileName"> <%- user %></p>
          </div>
          <form action="/index/disconnect" method="POST" class="logout-form">
            <button class="logout-btn" type="submit">Logout</button>
          </form>
        <% } %>
      </div>
      </div>
    </div>
  </header>

<script src="/scripts/header.js"></script>
<script>
  var logoutBtn = document.querySelector(".logout-btn");
  logoutBtn.addEventListener("click", function() {  showLoader();  });
</script>



    <main>

      <main>
        <div id="contenedor_carga">
          <div id="carga"></div>
        </div>

        <section class="info">
            <div class="panel">
                <div class="textInfo">
                    <p>¡Crea y responde formularios de forma dinámica!</p>
                </div> 
                <div class="features">
                    <p>Descubre todo lo que puedes hacer</p>
                    <ul class="list">
                        <li class="thing"><i class='bx bx-brain bx-border-circle' id="icon"></i>Crea tus propios formularios</li>
                        <li class="thing"><i class='bx bx-spreadsheet bx-border-circle' id="icon"></i>Lee las respuestas de las demás personas</li>
                        <li class="thing"><i class='bx bx-edit-alt bx-border-circle' id="icon"></i>Responde otros formularios aparte de los tuyos</li>
                    </ul>
                </div>
                <div class="buttons">
                  <% if(!user){ %>
                    <a href="/usuarios/crear"><button class="registerButton" onclick="showLoader()">Regístrate</button></a>
                    <a href="/usuarios/login"><button class="loginButton" onclick="showLoader()">Inicia sesión</button></a>
                  <% } else { %>

                    <a href="/index"><button class="formsButton" onclick="showLoader()">Tus formularios</button></a>
                  <% } %>
                </div>
            </div>
            <div class="image">
                <img src="/resources/landingimage.jpg">
            </div>
        </section>

        <hr class="divider">

        <section class="services">
            <h2>Nuestros servicios</h2>
            <div class="service">
                <i class="fa fa-star"></i>
                <h3>Crea</h3>
                <p>Haz tus propios formularios para que los demás usuarios puedan responderlos.</p>
            </div>
            <div class="service">
                <i class="fa fa-magnifying-glass"></i>
                <h3>Interactua</h3>
                <p>Ten interacción con los formularios de otros usuarios </p>
            </div>
            <div class="service">
                <i class="fa fa-question"></i>
                <h3>Responde</h3>
                <p>Responde e intenta adivinar y completar los formularios de forma correcta</p>
            </div>
        </section>

        <hr class="divider">

        <h2 id="h2pf">Preguntas Frecuentes</h2>
        <section class="faq-section">
            <div class="slider">
              <div class="slide">
                <h3>¿Cómo puedo registrarme en el sitio?</h3>
                <p>Para registrarte en nuestro sitio, simplemente ve a la página de registro y completa el formulario con tus datos personales.</p>
              </div>
              <div class="slide">
                <h3>¿Cuál es el tiempo de revision de los correos?</h3>
                <p>El plazo de revision varía dependiendo de tu ubicación. Normalmente, revisamos correos en un plazo de 3-5 días hábiles.</p>
              </div>
              <div class="slide">
                <h3>¿Puedo crear todo tipo de formularios?</h3>
                <p>Sí, nuestro sistema posee la capacidad de crear todo tipo de formularios a partir de diferentes configuraciones.</p>
              </div>
              <div class="slide">
                <h3>¿Cuáles son las diferentes configuraciones disponibles?</h3>
                <p>Hay muchos tipos, tenemos desde personalizar el tipo de preguntas, configurar la respuesta correcta, establecer reglas de validación, entre otros.</p>
              </div>
              <div class="slide">
                <h3>¿Hay limite de formularios?</h3>
                <p>No, no existen limites a la hora de crear formularios</p>
              </div>
            </div>
          </div>
          </section>
    </main>

  <script>
      // Obtenemos todos los slides
      let slides = document.querySelectorAll(".slide");

   // Añadimos un evento de click a cada slide
   slides.forEach(slide => {
    slide.addEventListener("click", () => {
      // Si el slide ya está activo, lo desactivamos
      if (slide.classList.contains("active")) {
        slide.classList.remove("active");
      } else {
        // Si no, quitamos la clase active a todos los slides
        slides.forEach(slide => slide.classList.remove("active"));
        // Añadimos la clase active al slide clickeado
        slide.classList.add("active");
      }
    });
  });
    </script>

    
    <footer class="footer">
        <!-- Primer nivel: logo de la compañía -->
        <img src="resources/uvm.png" alt="Logo de la compañía" class="footer-logo">
        <!-- Segundo nivel: navegación -->
        <nav class="footer-nav">
          <!-- Primera columna: inicio, sobre nosotros, contacto -->
          <div class="footer-nav-column">
            <a onclick="showLoader()" href="/" class="footer-nav-link">Inicio</a>
            <a onclick="showLoader()" href="/usuarios/crear" class="footer-nav-link">Registro</a>
            <a onclick="showLoader()" href="/usuarios/login" class="footer-nav-link">Login</a>
          </div>
          <!-- Segunda columna: -->
          <div class="footer-nav-column">
            <a onclick="showLoader()" href="/index" class="footer-nav-link">Tus Formularios</a>
            <a onclick="showLoader()" href="https://uvm.edu.ve/normativa-uvm/" class="footer-nav-link">Normativa</a>
            <a onclick="showLoader()" href="https://uvm.edu.ve/investigacion-y-extension/" class="footer-nav-link">Investigación y Extensión</a>
          </div>
        <!-- Tercer nivel: redes sociales -->
        <div class="footer-social">
          <!-- Icono de Facebook -->
          <a href="https://www.facebook.com/univalledelmomboy/?locale=es_LA" class="footer-social-icon">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <!-- Icono de Twitter -->
          <a href="https://twitter.com/univallemomboy?lang=es" class="footer-social-icon">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <!-- Icono de Instagram -->
          <a href="https://www.instagram.com/univalledelmomboy/" class="footer-social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <!-- Icono de YouTube -->
          <a href="https://www.youtube.com/channel/UCyPGGFu2WNlBP1BMvholYWA" class="footer-social-icon">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </div>
        <!-- Cuarto nivel: detalles legales -->
        <div class="footer-legal">
          <!-- Primera columna: derechos reservados -->
          <div class="footer-legal-column">
            <p class="footer-legal-text">&copy; 2023 Universidad "Valle del Momboy"</p>
          </div>
          <!-- Segunda columna: términos y condiciones -->
          <div class="footer-legal-column">
            <p class="footer-legal-text"><a href="https://revistav.uvm.edu.ve/articulos/cs07s7Articulo1vol13num12019.pdf">Términos y condiciones</a></p>
          </div>
          <!-- Tercera columna: política de privacidad -->
          <div class="footer-legal-column">
            <p class="footer-legal-text"><a href="https://repositorio.uvm.edu.ve/items/b8397abb-5c25-4557-994b-a1a6fbd3d4ce">Reglamento</a></p>
          </div>
        </div>
      </footer>


    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/scripts/loader.js"></script>
    <script src="/scripts/buscarform.js"></script>

</body>
</html>