<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVM Forms</title>
    <link rel="shortcut icon" href="media/uvmicon.png">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/landing.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="header">
          <a href="/" class="logo">
              <img src="resources/uvm.png" alt="Logo">
              <p>UVM Forms</p>
          </a>
      </div>
      </header>
    <main>
        <section class="info">
            <div class="panel">
                <div class="textInfo">
                    <p>¡Crea y responde formularios de forma dinámica!</p>
                </div> 
                <div class="features">
                    <p>Descubre todo lo que puedes hacer</p>
                    <ul class="list">
                        <li class="thing"><i class='bx bx-brain bx-border-circle' id="icon"></i>Crea tus propios formularios</li>
                        <li class="thing"><i class='bx bx-spreadsheet bx-border-circle' id="icon"></i>Lee las respuestas de las demás personas</li>
                        <li class="thing"><i class='bx bx-edit-alt bx-border-circle' id="icon"></i>Responde otros formularios aparte de los tuyos</li>
                    </ul>
                </div>
                <div class="buttons">
                    <a href="register.html"><button class="registerButton">Regístrate</button></a>
                    <a href="login.html"><button class="loginButton">Inicia sesión</button></a>
                </div>
            </div>
            <div class="image">
                <img src="media/landingimage.jpg">
            </div>
        </section>
    </main>
    <footer>
        <p>Contacto</p>
    </footer>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>