<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="resources/uvmicon.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    
    <main>
          <div class="center"> 
              <h1>Inicio de sesión</h1> 
              <form action="/usuarios/login" method="post"> 
                  <div class="txt_field"> 
                      <input type="text" name="usuario" required> 
                      <span></span> 
                      <label>Usuario</label> 
                  </div> 
                  <div class="txt_field"> 
                      <input type="password" name="contrasena" required> 
                      <span></span> 
                      <label>Contraseña</label> 
                  </div> 
                  <div class="pass">¿Olvidó su contraseña?</div> 
                  <input type="submit" value="Entra"> 
                  <div class="signup_link"> 
                      ¿No tienes creada una cuenta? <a href="register.html">Regístrate</a> 
                  </div> 
              </form> 
          </div> 
    </main>

    
  


</body>
</html>
