<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UVM Forms</title>
    <link rel="shortcut icon" href="/resources/uvm.png">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header>
        <div class="header">
            <a href="/" class="logo">
                <img src="/resources/uvm.png" alt="Logo">
                <p>UVM Forms</p>
            </a>
          
          <div class="header-right">
            <a href="#" id="inicio">Inicio</a>
            <a href="/index" id="formularios">Mis formularios</a>
                <i class='bx bx-user-circle' id="profileIcon"></i> <p>Usuario</p>
          </div>
        </div>
    </header>

    <main>
        <h1 style="color: #860000; margin-bottom: 10px;">Titulo de formulario</h1>
        <p>Descripcion del formulario</p>

        <p class="formsText">Respuestas</p>
        <div class="forms">
                <div class="cardFormResp">
                    <p class="formTitleResp">Nombre de persona</p>
                    <p class="formDescriptionResp"><b>Pregunta: </b> Respuesta</p>
                </div>
        </div>


    </main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>