<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="shortcut icon" href="resources/uvmicon.png">
    <link rel="stylesheet" href="/sstyles/styles.css">
    <link rel="stylesheet" href="/styles/register.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <main>
    <div class="container">
      <div class="title">Registro</div>
      <div class="content">
        <form method="POST" action="/usuarios/crear">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Nombre Completo</span>
              <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="input-box">
              <span class="details">Cédula</span>
              <input type="number" name="cedula" placeholder="Ingrese su cédula" required>
            </div>
            <div class="input-box">
              <span class="details">Correo Electrónico</span>
              <input type="email" name="correo" placeholder="Ingrese su correo electrónico" required>
            </div>
            <div class="input-box">
              <span class="details">Nombre de Usuario</span>
              <input type="text" name="usuario" placeholder="Ingrese su nombre de usuario" required>
            </div>
            <div class="input-box">
              <span class="details">Contraseña</span>
              <input type="password" name="contrasena" placeholder="Ingrese su contraseña" required>
            </div>
            <div>
              <input type="hidden" name="rol" value="usuario">
            </div>
            <input type="submit" value="Register">
          </div>
      <div class="button">
        <a href="landing.html">Regresar</a>
      </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>