<h1>Crear una respuesta</h1>
<h2><%- formulario.titulo %></h2>
<p><%- formulario.descripcion %></p>
<form action="" method="POST">

  <% if(preguntas == '') { %>

    <h3>No tienes formularios registrados</h3>

  <% } else { %>

      <% for (i = 0; i < preguntas.length; i++) { %>
        
        <div>
          <label for="" ><%- preguntas[i].texto %></label>
          <input style="display: none;" type="text" name="id" value="<%- preguntas[i].id %>">
          <input type="text" name="Texto_Respuesta">
        </div>

      <% } %>

  <% } %>

  

  <button type="submit">Enviar respuesta</button>
</form>