/*FOOTER*/

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal del footer */
  .footer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
    padding: 1rem 0; /* Agregamos un espacio alrededor del contenido */
  }
  
  /* Primer nivel del footer: logo de la compañía */
  .footer-logo {

    width: 10%;
    height: 10%;
  }
  
  /* Segundo nivel del footer: navegación */
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
  }
  
  /* Cada columna de la navegación */
  .footer-nav-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem; /* Agregamos un espacio entre las columnas */
    text-align: center; /* Centramos el texto en pantallas pequeñas */
  }
  
  /* Cada enlace de la navegación */
  .footer-nav-link {
    text-decoration: none;
    color: white;
    margin: 10px;
  }
  
  /* Tercer nivel del footer: redes sociales */
  .footer-social {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  /* Cada icono de las redes sociales */
  .footer-social-icon {
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: filter 0.5s;
  }
  
  /* Cuando pasamos el ratón por encima del icono, quitamos el filtro de escala de grises */
  .footer-social-icon:hover {
    filter: none;
  }
  
  /* Cuarto nivel del footer: detalles legales */
  .footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  
  .footer-legal-column p a{
    text-decoration: none;
    color: white;
  }

  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 900px) {
    .footer {
      padding: 1rem 0; /* Reducimos el espacio alrededor del contenido */
    }
    
    .footer-logo {
      width: 20%; /* Reducimos el tamaño del logo */
      height: 20%;
      margin-right: 0;
    }
  
    .footer-nav {
      flex-direction: column; /* Apilamos las columnas verticalmente */
      align-items: center; /* Centramos las columnas horizontalmente */
      margin-top: 1rem; /* Reducimos el espacio entre la navegación y el logo */
    }
  
    .footer-nav-column {
      margin: 0.5rem; /* Reducimos el espacio entre las columnas */
      text-align: center; /* Centramos el texto en pantallas pequeñas */
    }
  
    .footer-social {
      margin-top: 1rem; /* Reducimos el espacio entre las redes sociales y la navegación */
    }
  
    .footer-social-icon {
      width: 30px; /* Reducimos el tamaño de los iconos */
      height: 30px;
      margin: 5px; /* Reducimos el espacio entre los iconos */
    }
  
    .footer-legal {
      flex-direction: column; /* Apilamos las columnas verticalmente */
      align-items: center; /* Centramos las columnas horizontalmente */
      margin-top: 1rem; /* Reducimos el espacio entre los detalles legales y las redes sociales */
    }
  }
  
  
  @keyframes spin {
    from {
      transform: rotate(0deg); /* Estado inicial: sin rotación */
    }
    to {
      transform: rotate(360deg); /* Estado final: rotación completa */
    }
  }
  
  .fa-facebook {
    font-size: 4vh;
    color: blue;
  }
  
  .fa-youtube {
    font-size: 4vh;
    color: red;
  }
  
  .fa-twitter {
    font-size: 4vh;
    color: skyblue;
  }
  
  .fa-instagram {
    font-size: 4vh;
    color: violet
  }