* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif; /* Tipo de letra del footer */
  
  }
  
.LogoUVMForms {
    width: 90px;
}

header {
    background-color: #1d555b;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    z-index: 999; 
    justify-content: space-between;
    padding: 15px 40px 15px 40px;
    position: sticky;
    top: 0;
}
  
.logo {
    display: flex;
    text-decoration: none;   
    gap: 15px; 
    align-items: center;

}

.logo p {
    color: white;
    font-weight: 900;
    width: 100%;
    font-size: 25px ;
}
  
.logo img { 
    width: 70px;
    height: 70px;
}




.header-right {
  display: flex;
  align-items: center;
  gap: 3ch; 
}

  
.header-right a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
 
}

.header-right p {
    display: block;
    color: #88c426;
    transition: 0.2s;
    padding-left: 5px;

}
  
.header-right a:hover {
    transform: scale(1.1);
    color: #88c426
  
}

#profileIcon{
    font-size: 25px;
    color: #88c426;
}
  
  .header-right .cta{
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #007f5f;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
  
  }
  
  .header-right .cta:hover {
    background-color: #860000;
    color:white;
  }
  
  .cta {
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #007f5f;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
  }
  
  .cta:hover {
    background-color: #860000;
    color:white;
  }

  .faltanDatos{
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    background-color: #ffa7b1;
    border-radius: 20px;
    padding: 5px;
  }
  
.formsButton{
  border-radius: 5px;
  width: 360px;
  height: 70px;
  font-size: 1.7rem;
  box-sizing: border-box;
  cursor: pointer;
}

.formsButton{
  background-color: #1d555b;
  color: #ffffff;
  border: none;
  transition: all 0.5s;

}

.logout-form{
  margin: 0;
  padding: 0;
}
.formsButton:hover{
  background-color: #860000;
}


  @media screen and (max-width: 920px) {
    
    /*Esconde el elemento header-right por default */
  
    .header{
      position: fixed;
      top: 0;
      width: 100%;
      padding: 0 50px;
      background: #1d555b;
      z-index: 1000;
  
    }
    .header-right {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 9%;
      right: 0;
      width: 100%;
      height: auto;
      background-color: #88c426;   
      height: 100vh; /* Hacer que el elemento de header-right cubra verticalmente toda la pantalla */
      box-shadow: -2px -2px 5px rgba(0,0,0,0.1);
    }

    .formBuscar{
      margin-top: 2ch;
    }
    
    /* Mostrar el elemento header-right cuando la hamburguesa está activa */
    .hamburger.active ~ .header-right {
      display: flex;        
    }
    
    /* Cree el elemento hamburguesa con tres líneas */
    .hamburger {
      display:flex;        
      flex-direction:column;        
      justify-content:center;        
      width:30px;        
      height:30px;        
      cursor:pointer;        
     
    }
    
    /* Estilizar las lineas del elemento hamburguesa */
    .hamburger span {        
      display:block;        
      width:100%;        
      height:4px;        
      background-color: #bcd4de;        
      margin-bottom:4px;        
      border-radius:2px;        
      transition:border-radius 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;        
    }
    
    /*Eliminar el margen de la última línea del elemento hamburguesa */
     .hamburger span:last-child {         
       margin-bottom:none;         
     }
     
     /*Cambiar la forma de las líneas del elemento hamburguesa cuando está activo */
     .hamburger.active span {         
       border-radius:none;         
     }

     
     /*Girar y desplazar la primera línea del elemento hamburguesa cuando está activo */
     .hamburger.active span:first-child {         
       transform : rotate(45deg) translate(6px,6px);         
     }
     
     /* Ocultar la segunda línea del elemento hamburguesa cuando está activo */
     .hamburger.active span:nth-child(2) {         
       opacity : 0;         
     }
     
     /*Girar y desplazar la tercera línea del elemento hamburguesa cuando está activo*/
     .hamburger.active span:last-child {         
       transform : rotate(-45deg) translate(6px,-6px);         
     }
    
    /* Cambiar el estilo de los enlaces */
    .header-right a {
      text-align: center;
      background-color: white;
      padding: 1ch;
      color: black;
      border-radius: 1ch;
      margin-top: 2vh;
      margin-bottom: 1vh;
      box-shadow:-2px -2px 5px rgba(0,0,0,0.1);        
      transition:border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;        
    }

    #profileIcon{
      font-size: 25px;
      color: white;
  }

  #profileName{
    color: white;
  }
    
    /* Quitar el radio del borde y la sombra de la caja de los enlaces de cabecera-derecha cuando se pasa el ratón por encima. */
     .header-right a:hover {        
       border-radius:none;         
       box-shadow:none;         
     }
    
     /* Cambiar el estilo del enlace cta */
     .cta {         
       margin-top:20px;         
       margin-bottom:20px;         
       border-radius:none;         
       box-shadow:-2px -2px 5px rgba(0,0,0,0.1);         
       transition:border-radius 0.3s ease-in-out, box-shadow 0.3s ease-in-out;         
     }
     
     /* Quita el border radius y box shadow del hover de cta*/
     .cta:hover {         
       border-radius:none;         
       box-shadow:none;         
     }
     
     /* Esconde el CTA cuando la hamburguesa esta inactiva*/
     .hamburger:not(.active) ~ .header-right .cta {         
       display:none;         
     }
     
     /* Muestra el link CTA cuando la hamburguesa esta activa */
     .hamburger.active ~ .header-right .cta {         
       display:block;         
     }
     
  }
  
  @media screen and (min-width:501px) and (max-width :800px) { 
    
   /* Cambia el tamaño del logo entre esos rangos de resoluciones */
   .logo {         
     height:9vh;   
  
  
   }
   
  }

  .formBuscar {
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px;
  }
  
  #buscar {
    padding: 5px;
    margin-right: 5px;
    background-color: #e8e8e8;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #searchIcon {
    color: #888888;
    font-size: 20px;
  }
  
  #textoBuscar {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 200px;
  }
  
  #textoBuscar::placeholder {
    color: #888888;
  }

  .logout-btn {
  padding: 10px 20px;
  background-color: #F44336;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #D32F2F;
}

.logout-btn:active {
  background-color: #B71C1C;
}
  