
.info {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 30px 50px;
    box-sizing: border-box;
}

.textInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #1d555b;
    border-radius: 15px;
    border-style: dashed;
}

.textInfo p {
    font-size: 2.8rem;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.features p {
    padding: 0 15px 5px;
    border-bottom: 2px solid #1d555b;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.thing {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1d555b;
}

#icon{
    font-size: 30px;
    border-color: #1d555b;
}

a {
    text-decoration: none;
}

.registerButton, .loginButton {
    border-radius: 5px;
    width: 180px;
    height: 70px;
    font-size: 1.7rem;
    box-sizing: border-box;
    cursor: pointer;
}

.registerButton {
    background-color: #1d555b;
    color: #ffffff;
    border: none;
    transition: all 0.5s;

}

.loginButton {
    border: 2px solid #1d555b;
    color: #1d555b;
    background-color: #bcd4de;
    transition: all 0.5s;

}

.registerButton:hover{
    background-color: #860000;
}

.loginButton:hover{
    background-color: #860000;
    color: white;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.image img {
    height: 450px;
    width: auto;
    box-shadow: 0 0 3px 1px #1d555b3e;
    transition: all 0.5s;
    cursor: pointer;

}

.image img:hover{
    transform: scale(1.1);
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1200px) {
    .info {
        flex-direction: row;

    }
    
    .panel {
        width: 50%;
        padding: 30px 50px;
    }
    
    .image {
        width: 50%;
    }
    
    .image img {
        height: 450px;
    }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 1199px) and (min-width: 768px) {
    .info {
        flex-direction: column;
    }
    
    .panel {
        width: 100%;
        padding: 30px;
    }
    
    .image {
        width: 50%;
    }
    
    .image img {
        height: auto;
        max-width: 100%;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .info {
        flex-direction: column;
        margin-top: 10ch;

    }
    
    .panel {
        width: 100%;
        padding: 30px;
    }
    
    .image {
        width: 100%;
        position: relative;
        bottom: 0;
    }
    
    .image img {
        height: auto;
        max-width: 80%;
    }
}

/* Estilos de la sección de servicios */

/*Definir una animación para bordes de las boxes*/
@keyframes rainbow {
    0% {
      box-shadow: 0 0 10px red;
    }
    17% {
      box-shadow: 0 0 10px orange;
    }
    34% {
      box-shadow: 0 0 10px yellow;
    }
    51% {
      box-shadow: 0 0 10px green;
    }
    68% {
      box-shadow: 0 0 10px blue;
    }
    85% {
      box-shadow: 0 0 10px indigo;
    }
    100% {
      box-shadow: 0 0 10px violet;
    }
}

.services {
	padding: 50px;
	display: flex;
	justify-content: space-between;
    flex-direction: row;
	background-color: #fff;
}

.service {
	width: 15vw;
	text-align: center;
    justify-content: space-between;
	border-radius: 5px;
	padding: 20px;
    animation: rainbow 3s infinite;
    box-shadow: 0 0 10px red;
	margin-bottom: 20px;
    transition: all 1s;
    cursor: pointer;
}

.services h2{
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 50px;
    background: #88c426;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;

}

.service i {
	font-size: 3rem;
	margin-bottom: 20px;
	color: #1d555b;
}

.service h3 {
	font-size: 2rem;
	margin-bottom: 10px;
	color: #333;
}

.service p {
	font-size: 1.2rem;
	line-height: 1.5;
	color: #666;
}

.service:hover{
    transform: scale(1.1);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1400px) {
    .services {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .service {
        width: 70%;
        margin-bottom: 40px;
        padding: 50px;
    }
    
    .services h2 {
        font-size: 2rem;
        padding: 30px;
        margin-bottom: 40px;
    }
    
    .service i {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .service h3 {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }
    
    .service p {
        font-size: 1rem;
        line-height: 1.3;
    }
}

@media (max-width: 320px){
    .services {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .service {
        width: 70%;
        margin-bottom: 40px;
        padding: 50px;
    }
    
    .services h2 {
        font-size: 1rem;
        padding: 30px;
        margin-bottom: 40px;
    }
    
    .service i {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .service h3 {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
    
    .service p {
        font-size: 0.6rem;
        line-height: 1.3;
    }

}
.divider {
    border: none;
    border-top: 2ch solid #860000;
    margin-left: 8ch;
    margin-bottom: 5ch;
    margin-top: 5ch;
    margin-right: 8ch;
   
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .faq-section {
    max-width: 150ch;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10ch;
    background: #bcd4de;
    border-radius: 10px;
    height: 100ch;
  }
  #h2pf {
    max-width: 200vh;
    color: #fff;
    margin: 0 auto;
    font-size: 4rem;
    text-align: center;
    padding: 1ch;
    background: #88c426;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .slide {
    width: 100%;
    max-width: 800ch;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: white;
    margin-bottom: 2ch;

  }

  .slide h3 {
    font-size: 40px;
    font-weight: normal;
    color: #333;
  }

  .slide p {
    margin-top: 20px;
    font-size: 20px;
    color: #666;
    display: none; /* Ocultamos el párrafo por defecto */
    transition: 0.3s ease; /* Añadimos una transición de opacidad */

  }

  .slide.active p {
    display: block; /* Mostramos el párrafo si el slide está activo */
  }

  .slide.active {
    transform: scale(1.02); /* Aumentamos el tamaño del slide activo */
    transition: all 0.3s ease; /* Añadimos una transición suave */
  }

  @media screen and (max-width: 768px) {
    .faq-section {
      max-width: 100%;
      height: auto;
      margin-bottom: 50px;
    }
  
    #h2pf {
      font-size: 3rem;
    }
  
    .slide {
      max-width: 100%;
      padding: 20px;
      margin-bottom: 1ch;
    }
  
    .slide h3 {
      font-size: 30px;
    }
  
    .slide p {
      font-size: 16px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 425px) {
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  }
  