body {
    background-color: #bcd4de
}

.form {
    margin-top: 2ch;
    height: 80ch;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#loginForm {
    background-color: #fff;
    width: 60ch;
    padding: 30px;
    border-radius: 5px;
    height: 60ch;
}

.form h2 {
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.content input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #c2c2c2;
    border-bottom-width: 2px;
    padding: 10px;
    height: 10ch;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 10ch

    
}

.form input:focus {
    border-color: #1d555b;
}

.button {
    text-align: center;
}

.submitButton {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #1d555b;
    cursor: pointer;
    margin-top: 5ch;
    margin-bottom: 5ch;
    height: 10ch;
    
}

.forgotPass, .backButton {
    text-decoration: none;
}

.forgotPass:hover, .backButton:hover {
    text-decoration: underline;
}

.forgotPass {
    color: #a2a2a2;
}

.backButton {
    color: #1d555b;
}
