
.formsR {
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
    background-color: #1d555b;
    padding: 20px;
    color: #ffffff;
    margin-top: 12ch;
    margin-bottom: 12ch;
}

.formsR h1 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.formsR h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.formsR p {
  margin-bottom: 10px;
}

.formsR form {
  margin-top: 20px;
}

.formsR label {
  display: block;
  margin-bottom: 5px;
}

.formsR input[type="text"],
.formsR input[type="radio"],
.formsR input[type="checkbox"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.formsR input[type="text"]{
  width: 100%;
}


.formsR button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.formsR button[type="submit"]:hover {
  background-color: #45a049;

}

.option{
  display: flex;
  gap: 5px;
}



.options{
  width: 100%;
}

.question{
  margin-top: 20px;
  background-color: #13373b;
  padding: 20px;
  border-radius: 30px;
}