<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="resources/uvmicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
</head>
<body>
    <form action="" method="post">
        <label for="">Titulo</label>
        <input type="text" name="titulo" id="titulo">

        <label for="">Descripcion</label>
        <textarea id="descripcion" name="descripcion"></textarea>

        <label for="">Pregunta1</label>
        <input type="text" name="pregunta1" id="pregunta1">

        <label for="">Pregunta2</label>
        <input type="text" name="pregunta2" id="pregunta2">

        <label for="">Pregunta3</label>
        <input type="text" name="pregunta3" id="pregunta3">

        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>