.image {
    width: 50%;
}

.info {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}

.textInfo {
    display: flex;
    align-items: center;
    margin: 50px 0 20px;
}

.textInfo p {
    font-size: 2.8rem;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.thing {
    display: flex;
    align-items: center;
    font: bold 1rem Arial;
    gap: 10px;
}

#icon{
    color: #5C8D89;
    font-size: 40px;
    border-color: #5C8D89;
}

a {
    text-decoration: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.registerButton, .loginButton {
    border-radius: 5px;
    width: 180px;
    height: 70px;
    font-size: 1.7rem;
    box-sizing: border-box;
    cursor: pointer;
}

.registerButton {
    background-color: #5C8D89;
    color: #ffffff;
    border: none;
}

.loginButton {
    border: 2px solid #5C8D89;
    color: #5C8D89;
}